body{
    background-color: black;
}
*{
    margin: 0px auto;
    padding: 0px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: black;
/*    background-color: black;*/
}
#page{
    background-color: beige;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 640px;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 50px;
}
h1, h3{
    margin-top: 10px;
    text-align: center;
}

.listWrapper{ /*made a wrapper to wrap the bullets and center them too*/
    margin: 30px 10% 0px 10%;
}
li{
    padding: 3px;
    font-size: 14px;
    word-wrap: break-word;
    width: 70%;
}
.button{
    float: right;
    margin-top: 3px;
    margin-right: 100px;
}
#add{
    text-decoration: none;
    position: absolute;
    font-size: 20px;
    color: black;
    border-radius: 4px;
    padding: 5px; 10px
}
#listInput{
    width: 100%;
    outline: 0;
    border: beige;
    font-size: 14px;
    background-color: beige;
}